# CMake-specific files
CMakeCache.txt
Makefile
**/CMakeFiles/*
cmake_install.cmake
*Config.h
*Config.hh

# Compiled binaries
utr
getHistogram
getHistogram-Eventwise
getHistogramRDF
getSolidAngleCoverage
histogramToTxt
rootToTxt
mergeFiles
angdisttest
angcorrtest

# Build directory
build
build1

# GDML Directory
gdml

# Volumes because the file size is too big
DetectorConstruction/Others/Efficiency/Volumes/Deckel-Petrischale21.gdml
DetectorConstruction/Others/Efficiency/Volumes/Gesamte_Petrischale.gdml
DetectorConstruction/Others/Efficiency/Volumes/Petrischale1.gdml

# Images
images

# Notebooks and python codes for evaluation of simulation output
Jupyter_notebooks
python_lib
Old_python_codes
Edelstahlzylinder.ipynb

# Output
output
Spektren

# in DetectorConstruction
Bleiburgtest.hh
Detector_Dimensions_Calculation.py


# in Volumes
Quellenhalter_new.gdml
Quellenhalter.gdml
Hohlzylinder_new.gdml
Hohlzylinder.gdml

# in macros
utrwrapper-efficiency-radiationprotection.xmac

# C++ objects
unit_test/AngularDistributionGenerator/AngularDistribution.o
unit_test/AngularCorrelationGenerator/AngularDistribution.o

# Scripts for output processing
#loop*.sh

# Script output
brems.dat

# Python cache
__pycache__

# Root files
*.root

# Output folder contents
output/*

# ViM temporary files
*~
*.swp
*.swo

# Text files
*.txt
!CMakeLists.txt

# VRML visualization output
*.wrl

# VS Code directory
.vscode

# tmux session
tmux_run_code.py

# jupyter notebook
Jupyter_notebooks/Unsicherheiten.ipynb
